body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 20px;
}

h2 {
    color: #444;
    margin: auto;
}

button {
    cursor: pointer;
}

.container {
    max-width: 600px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: fit-content;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 4px;
}

.button:hover {
    background-color: #45a049;
}

.logout-button {
    width: 100%;
    background-color: #f44336;
}

.logout-button:hover {
    background-color: #da190b;
}

.user-info {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    border-radius: 8px;
    background-color: #e9ecef;
    margin-bottom: 20px;
}

.user-info img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.user-info h3 {
    margin: 0;
    color: #333;
}

.user-info p {
    margin: 5px 0;
}